body {
    font-family: Roboto;
}

.navbar {
    background-color: #1F2937;
    margin-top: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-weight: bolder;
    font-size: 22px;
}

.right {
    display: flex;
    gap: 1.5rem;
}

.part-1 {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}    

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    width: 300px;
    margin-top: 6rem;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
    margin: 0;
}

.img {
    height: 200px;
    width: 600px;
    background-color: grey;
    margin-top: 6rem;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.first-button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 3rem;
}

.empty-box {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 1rem;
}

.text {
    max-width: 140px;
    text-align: center;
    padding-top: 8px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
    max-width: 750px;
}

.author {
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    text-align: end;
    margin: 0;
}

.last-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #3882F6;
    height: 150px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.action p {
    margin: 0;
}

.action p:first-child{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.action p:last-child {
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
}

.last-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 2rem;
    font-size: 1.2rem;
}

.foot {
    height: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 1.3rem;
}

